$md-color: blue;
$md-bd-color: green;
$md-red-color: red;
$md-font-size: 1rem;
$md-big-border: 1px solid red;
$md-small-border: 1px solid green;
$md-footer-border: 1px solid blue;
$font-size: 126px;


