@use "module.scss" as module;
@use 'sass:math';
@use "functions.scss" as f;
$margin-size: 20;
$footer-font-size: 24;
$padding-size: 16;

.bigbox{
    display: flex;
    flex-direction: column;
    border: module.$md-big-border;
}
.center{
    display: flex;
    flex-direction: row;
    margin: f.Torem($margin-size);
}
.box1{
    border: module.$md-small-border;
    color: module.$md-color;
    padding: f.Torem($padding-size);
}
.box2{
    color: module.$md-red-color;
    border: module.$md-small-border;
    padding: f.Torem($padding-size);

}
.box3{
    border: module.$md-small-border;
    color: module.$md-color;
    padding: f.Torem($padding-size);
}
.box4{
    color: module.$md-red-color;
    border: module.$md-small-border;
    padding: f.Torem($padding-size);
}
.top{
    align-self: center;
    color: module.$md-bd-color;
    text-decoration: underline blue;
}
.low{
    margin: f.Torem($margin-size);
    margin-top: 0px;
    border: module.$md-footer-border;
    color: module.$md-bd-color;
    font-size: f.Torem($footer-font-size);
    padding: f.Torem($padding-size);
}